{% extends 'base.html' %}
{% load static %}
{% block content %}
{{block.super}}
  <div class="jumbotron" style="background-image: url('static/img/background2.jpg'); background-repeat: none; background-size: cover; height: 94vh; margin-top: -30px; padding-bottom: 0px; margin-bottom: 0px;">
        
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 0px;">
      <h1 class="text-center" style="color: #fff; margin-left: 45%; margin-top: 10%;">START HERE </h1>
      <p class="text-center" style="color: #fff; margin-left: 52%;">Welcome to Kenya Today where you can view all the lates photo's that depict what is currently happening in kenya</p>
    </div>
  </div>
{% endblock %}
